# WordPress
wp
.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
web/app/uploads
web/app/upgrade
web/app/plugins/*
web/app/mu-plugins/*
web/!app/mu-plugins/register-theme-directory.php

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Vagrant
bin
.vagrant
